# Update repositories yay command service
# copy to /etc/systemd/system
# sudo systemctl enable update-repositories.service
# sudo systemctl start update-repositories.service

[Unit]
Description=Update repositories
Requires=NetworkManager.service
After=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/yay -Syy
RemainAfterExit=yes

[Install]
WantedBy=network-online.target
